<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="height">267</entry>
<entry key="xpos">287</entry>
<entry key="size">java.awt.Dimension[width=0,height=0]</entry>
<entry key="width">716</entry>
<entry key="ypos">232</entry>
</properties>
