<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="height">460</entry>
<entry key="xpos">366</entry>
<entry key="width">716</entry>
<entry key="lang">en_US</entry>
<entry key="ypos">175</entry>
</properties>
